In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sbn
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, roc_curve, auc
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from math import ceil

import scipy.stats as stats
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline

import matplotlib.pyplot as plt

from pandas.plotting import scatter_matrix

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import StandardScaler
from sklearn.base import clone
import scipy.stats as scs
import statsmodels.api as sm




from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score


import timeit
import datetime as dt

import pandasql as ps

In [6]:
dfw = pd.read_csv('~/Downloads/DFW.csv')

In [7]:
dfw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100634 entries, 0 to 100633
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   station            100634 non-null  object
 1   valid              100634 non-null  object
 2   tmpf               10049 non-null   float64
 3   dwpf               10049 non-null   float64
 4   relh               10049 non-null   float64
 5   drct               90056 non-null   float64
 6   sknt               97058 non-null   float64
 7   p01i               12445 non-null   float64
 8   alti               100573 non-null  float64
 9   mslp               8724 non-null    float64
 10  vsby               100610 non-null  float64
 11  gust               8420 non-null    float64
 12  skyc1              94124 non-null   object
 13  skyc2              17487 non-null   object
 14  skyc3              6211 non-null    object
 15  skyc4              465 non-null     object
 16  skyl1              49085 non-null   float64
 17  skyl2              17487 non-null   float64
 18  skyl3              6211 non-null    float64
 19  skyl4              465 non-null     float64
 20  wxcodes            10007 non-null   object
 21  ice_accretion_1hr  0 non-null       float64
 22  ice_accretion_3hr  0 non-null       float64
 23  ice_accretion_6hr  0 non-null       float64
 24  peak_wind_gust     917 non-null     float64
 25  peak_wind_drct     917 non-null     float64
 26  peak_wind_time     917 non-null     object
 27  feel               4065 non-null    float64
 28  metar              100634 non-null  object
dtypes: float64(20), object(9)
memory usage: 22.3+ MB

In [9]:
hours_dfw= dfw[dfw['valid'].str.contains(":00")]

In [11]:
hours_dfw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7564 entries, 0 to 100621
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   station            7564 non-null   object
 1   valid              7564 non-null   object
 2   tmpf               15 non-null     float64
 3   dwpf               15 non-null     float64
 4   relh               15 non-null     float64
 5   drct               6680 non-null   float64
 6   sknt               7252 non-null   float64
 7   p01i               157 non-null    float64
 8   alti               7560 non-null   float64
 9   mslp               0 non-null      float64
 10  vsby               7562 non-null   float64
 11  gust               552 non-null    float64
 12  skyc1              7202 non-null   object
 13  skyc2              989 non-null    object
 14  skyc3              297 non-null    object
 15  skyc4              2 non-null      object
 16  skyl1              3299 non-null   float64
 17  skyl2              989 non-null    float64
 18  skyl3              297 non-null    float64
 19  skyl4              2 non-null      float64
 20  wxcodes            717 non-null    object
 21  ice_accretion_1hr  0 non-null      float64
 22  ice_accretion_3hr  0 non-null      float64
 23  ice_accretion_6hr  0 non-null      float64
 24  peak_wind_gust     3 non-null      float64
 25  peak_wind_drct     3 non-null      float64
 26  peak_wind_time     3 non-null      object
 27  feel               4 non-null      float64
 28  metar              7564 non-null   object
dtypes: float64(20), object(9)
memory usage: 1.7+ MB

In [12]:
hours_dfw.head()

,station,valid,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,...,skyl4,wxcodes,ice_accretion_1hr,ice_accretion_3hr,ice_accretion_6hr,peak_wind_gust,peak_wind_drct,peak_wind_time,feel,metar
0,DFW,2020-01-01 00:00,NaN,NaN,NaN,200.0,5.0,NaN,30.09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KDFW 010600Z AUTO 20005KT 10SM CLR 06/M03 A300...
13,DFW,2020-01-01 01:00,NaN,NaN,NaN,180.0,4.0,NaN,30.08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KDFW 010700Z AUTO 18004KT 10SM CLR 06/M03 A300...
26,DFW,2020-01-01 02:00,NaN,NaN,NaN,190.0,5.0,NaN,30.06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KDFW 010800Z AUTO 19005KT 10SM 06/M03 A3005 RM...
39,DFW,2020-01-01 03:00,NaN,NaN,NaN,180.0,5.0,NaN,30.04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KDFW 010900Z AUTO 18005KT 10SM CLR 06/M04 A300...
52,DFW,2020-01-01 04:00,NaN,NaN,NaN,190.0,7.0,NaN,30.03,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KDFW 011000Z AUTO 19007KT 10SM 06/M03 A3003 RM...

In [21]:
hours_dfw.shape

(7564, 29)

In [40]:
pd.set_option('display.max_colWidth', 100)
var1 = hours_dfw[200]['metar']
print(var1)

KeyError: 200

In [43]:
hours_dfw.loc[13, 'metar']

'KDFW 010700Z AUTO 18004KT 10SM CLR 06/M03 A3007 RMK T00601030 MADISHF'

In [46]:
hours_dfw.iloc[3, -1]

'KDFW 010900Z AUTO 18005KT 10SM CLR 06/M04 A3004 RMK T00601040 MADISHF'

In [47]:
for i in range(25):
    print(hours_dfw.iloc[i, -1])

KDFW 010600Z AUTO 20005KT 10SM CLR 06/M03 A3009 RMK T00601030 MADISHF
KDFW 010700Z AUTO 18004KT 10SM CLR 06/M03 A3007 RMK T00601030 MADISHF
KDFW 010800Z AUTO 19005KT 10SM 06/M03 A3005 RMK T00601030 MADISHF
KDFW 010900Z AUTO 18005KT 10SM CLR 06/M04 A3004 RMK T00601040 MADISHF
KDFW 011000Z AUTO 19007KT 10SM 06/M03 A3003 RMK T00601030 MADISHF
KDFW 011100Z AUTO 18007KT 10SM CLR 06/M04 A3000 RMK T00601040 MADISHF
KDFW 011200Z AUTO 17008KT 10SM CLR 07/M04 A2998 RMK T00701040 MADISHF
KDFW 011300Z AUTO 17007KT 10SM CLR 07/M04 A2997 RMK T00701040 MADISHF
KDFW 011400Z AUTO 16005KT 10SM OVC050 07/M03 A2996 RMK T00701030 MADISHF
KDFW 011500Z AUTO 17007KT 10SM OVC044 08/M02 A2995 RMK T00801020 MADISHF
KDFW 011600Z AUTO 19007KT 10SM OVC045 09/M02 A2996 RMK T00901020 MADISHF
KDFW 011700Z AUTO 20011KT 10SM OVC046 11/M02 A2995 RMK T01101020 MADISHF
KDFW 011800Z AUTO 18016KT 10SM OVC039 11/M01 A2990 RMK T01101010 MADISHF
KDFW 011900Z AUTO 19016KT 10SM OVC033 12/M01 A2986 RMK T01201010 MADISHF
KDFW 012000Z AUTO 19022KT 10SM FEW037 13/00 A2980 RMK T01300000 MADISHF
KDFW 012100Z AUTO 19013KT 10SM FEW038 13/02 A2979 RMK T01300020 MADISHF
KDFW 012200Z AUTO 19013KT 10SM FEW038 13/04 A2977 RMK T01300040 MADISHF
KDFW 012300Z AUTO 18014KT 10SM FEW038 13/04 A2975 RMK T01300040 MADISHF
KDFW 020000Z AUTO 17015KT 10SM 12/03 A2972 RMK T01200030 MADISHF
KDFW 020100Z AUTO ///15KT 10SM FEW035 12/03 A2971 RMK T01200030 MADISHF
KDFW 020200Z AUTO 17013KT 10SM FEW035 12/04 A2971 RMK T01200040 MADISHF
KDFW 020300Z AUTO 17019KT 10SM SCT022 12/05 A2970 RMK T01200050 MADISHF
KDFW 020400Z AUTO 18013KT 10SM FEW018 12/06 A2970 RMK T01200060 MADISHF
KDFW 020500Z AUTO 18014KT 10SM CLR 12/06 A2970 RMK T01200060 MADISHF
KDFW 020600Z AUTO 17013KT 10SM CLR 11/06 A2968 RMK T01100060 MADISHF