In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sbn
from math import ceil
import scipy.stats as stats
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import timeit
import datetime as dt
import pandasql as ps

In [4]:
dallas = pd.read_csv('~/Desktop/Dallas_YEAR_SCRAPE.csv')

In [5]:
dallas['new_hour_date'] = dallas['hour'] + ' '+  dallas['Date']

In [6]:
dallas['New_datetime'] = pd.to_datetime(dallas['new_hour_date'],infer_datetime_format=True, format ='%m/%d/%Y %H')

In [7]:
dallas['time_rounded'] = dallas['New_datetime'].dt.round('H').dt.hour

In [8]:
dallas['time_rounded'] = dallas['time_rounded'].apply(str)

In [7]:
dallas['time_rounded2'] = dallas['Date'] + ' '+  dallas['time_rounded']

In [8]:
dallas['time_rounded4']= dallas['time_rounded2'].apply(lambda x:f'{x}:00:00')

In [9]:
dallas['New_datetime2'] = pd.to_datetime(dallas['time_rounded4'],infer_datetime_format=True,format ='%m/%d/%Y %H')

In [ ]:
del dallas['hour']
del dallas['Date']
del dallas['new_hour_date']
del dallas['New_datetime']
del dallas['time_rounded']
del dallas['time_rounded2']
# del dallas['time_rounded3']
del dallas['time_rounded4']

In [10]:
dallas['New_datetime']= dallas['time_rounded4']

In [11]:
dallas['New_datetime'] = pd.to_datetime(dallas['New_datetime'],infer_datetime_format=True,format ='%m/%d/%Y %H')

In [12]:
dallas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10300 entries, 0 to 10299
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hour           10300 non-null  object
 1   temp           10300 non-null  object
 2   dew            10300 non-null  object
 3   humidity       10300 non-null  object
 4   wind_speed     10300 non-null  object
 5   pressure       10300 non-null  object
 6   precip         10300 non-null  object
 7   cloud          10299 non-null  object
 8   Date           10300 non-null  object
 9   new_hour_date  10300 non-null  object
 10  New_datetime   10300 non-null  datetime64[ns]
 11  time_rounded   10300 non-null  object
 12  time_rounded2  10300 non-null  object
 13  time_rounded4  10300 non-null  object
 14  New_datetime2  10300 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(13)
memory usage: 1.2+ MB

In [2]:
dallas

NameError: name 'dallas' is not defined

In [ ]:
dallas.to_csv (r'/Users/cp/Desktop/capstone2/DALLASV2_FINAL_WEATHER.csv', index = False, header=True)

In [ ]:
dallas.head()

In [14]:
del dallas['hour']
del dallas['Date']
del dallas['new_hour_date']
del dallas['New_datetime']
del dallas['time_rounded']
del dallas['time_rounded2']
# del dallas['time_rounded3']
del dallas['time_rounded4']

In [15]:
dallas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10300 entries, 0 to 10299
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   temp           10300 non-null  object
 1   dew            10300 non-null  object
 2   humidity       10300 non-null  object
 3   wind_speed     10300 non-null  object
 4   pressure       10300 non-null  object
 5   precip         10300 non-null  object
 6   cloud          10299 non-null  object
 7   New_datetime2  10300 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 643.9+ KB

In [16]:
dallas.head()

,temp,dew,humidity,wind_speed,pressure,precip,cloud,New_datetime2
0,45 F,25 F,46 %,0 mph,29.59 in,0.0 in,Cloudy,2020-01-01 01:00:00
1,46 F,23 F,40 %,0 mph,29.58 in,0.0 in,Cloudy,2020-01-01 02:00:00
2,46 F,23 F,40 %,7 mph,29.56 in,0.0 in,Cloudy,2020-01-01 03:00:00
3,47 F,22 F,37 %,6 mph,29.55 in,0.0 in,Cloudy,2020-01-01 04:00:00
4,47 F,23 F,39 %,6 mph,29.53 in,0.0 in,Cloudy,2020-01-01 05:00:00

In [1]:
dallas

NameError: name 'dallas' is not defined