In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sbn
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, roc_curve, auc
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from math import ceil

import scipy.stats as stats
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline

import matplotlib.pyplot as plt

from pandas.plotting import scatter_matrix

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import StandardScaler
from sklearn.base import clone
import scipy.stats as scs
import statsmodels.api as sm




from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score


import timeit
import datetime as dt

import pandasql as ps

In [2]:
data_march = pd.read_csv('~/Downloads/2508951.csv')
data_may = pd.read_csv('~/Downloads/2508912.csv')
data_july = pd.read_csv('~/Downloads/2508950.csv')
data_sept = pd.read_csv('~/Downloads/2508931.csv')
data_nov = pd.read_csv('~/Downloads/2508943.csv')


data_jan = pd.read_csv('~/Downloads/2509140.csv')

data1 = pd.read_csv('~/Downloads/asos.csv')

/Users/cp/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (7,11,15,17,19,23,25,31,33,43,45,47,49,53,55,59,63,65,67,69,71,75) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/cp/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (7,11,15,17,19,23,25,31,33,43,45,47,49,51,53,55,59,63,67,69,71,75) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/cp/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (7,11,15,17,19,23,25,31,33,43,45,47,49,51,53,55,59,65,69,71,75) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/cp/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (7,11,15,17,19,23,25,31,33,43,45,47,49,51,53,55,59,63,65,69,71,75) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/cp/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (7,11,15,17,19,23,25,31,33,43,45,47,53,55,59,63,65,67,71,73,75) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data1['station'].unique()

array(['FST', 'GGG', 'GLS', 'BGD', 'DFW', 'DHT', 'GKY', 'LBB', 'LFK',
       'ALI', 'AMA', 'CDS', 'DAL', 'DRT', 'FTW', 'JCT', 'LRD', 'MWL',
       'SPS', 'BPT', 'MRF', 'PSX', 'HOU', 'MAF', 'COT', 'CLL', 'HDO',
       'IAH', 'RBD', 'CRS', 'TKI', 'LVJ', 'AFW', 'BAZ', 'BMQ', 'CXO',
       'DTO', 'DWH', 'GTU', 'LBX', 'MFE', 'PRX', 'RKP', 'SGR', 'SSF',
       'ODO', 'BRO', 'INK', 'ABI', 'ELP', 'HRL', 'PWG', 'TYR', 'UTS',
       'VCT', 'TRL', 'ACT', 'OCH', 'TPL', 'ILE', 'SJT', 'HYI', 'SAT',
       'CRP', 'AUS', 'GZN', 'MKN', 'DZB', 'PIL', 'HBV', 'GVT', 'LNC',
       'GDJ', 'PPA', 'ADS', 'AQO', 'ARM', 'CPT', 'DUX', 'F05', 'OSA',
       'PYX', 'RYW', 'HQI', 'BBF', 'MZG', 'BQX', 'VAF', 'HHV', 'ERV',
       'GPM', 'GYI', 'BKS', 'FWS', 'GLE', 'SWW', 'BPG', 'JSO', 'LHB',
       'BYY', 'EBG', 'HQZ', 'INJ', 'JWY', 'LUD', 'SNK', 'PSN', 'RBO',
       'COM', 'XBP', 'PEQ', 'GNC', 'GYB', 'JXI', 'JDD', 'PKV', 'SLR',
       'RAS', 'ORG', 'BBD', 'HRX', 'PEZ', 'TFP', 'CWC', 'MNZ', 'ECU',
       'MDD', 'BKD', 'CVB', 'MCJ', '0F2', 'OZA', '5C1', 'FTN', 'EDC',
       'ASL', 'TME', 'RFI', 'PVW', 'HHF', '11R', 'E38', 'GOP', 'JAS',
       'SEP', 'SOA', 'T82', 'APY', 'BPC', 'BWD', 'RWV', '3T5', 'UVA',
       'AXH', '6R3', 'BMT', 'VKY', 'EMK', 'T35', 'E11', 'F44', 'F46',
       'CFD', 'T20', 'PRS', 'LXY', 'CZT', '66R', 'F17', 'ELA', '5T9',
       'F00', 'IKG', '6P9', 'ETN', 'TXW', 'LUV', '2R9', '4F2', 'T74',
       'GYF', 'RPH', 'GRK', 'EFD', 'GDP', 'ATT', 'NFW', '6R6', 'NOG',
       'RND', 'SKF', 'NGP', 'NQI', 'HLR', 'BIF', 'SEQ', 'CNW', 'DYS',
       'DLF', 'T70', 'DKR', 'GUL', 'BEA', 'LZZ', 'E41', 'VHN', 'T69',
       '81R'], dtype=object)

In [4]:
data1.head()
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9671697 entries, 0 to 9671696
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   station  object
 1   valid    object
 2   skyc1    object
dtypes: object(3)
memory usage: 221.4+ MB

In [5]:
sample_data = data1.sample(n=500)

In [6]:
sample_data['valid'] = pd.to_datetime(sample_data['valid'],infer_datetime_format=True, format ='%Y-%m-%d %H')

In [7]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 2939963 to 7721787
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  500 non-null    object
 1   valid    500 non-null    datetime64[ns]
 2   skyc1    488 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 15.6+ KB

In [8]:
sample_data.set_index('valid', inplace=True)
sample_data.index = pd.to_datetime(sample_data.index)

print(sample_data.index.dtype)
# dtype('<M8[ns]')

datetime64[ns]

In [40]:
sample_data.head(25)

                    station skyc1
valid
2020-05-04 18:35:00     RFI   CLR
2020-10-29 23:55:00     LUV   BKN
2020-07-03 10:53:00     MWL   CLR
2020-04-30 09:20:00     LBB   CLR
2020-10-22 21:53:00     SGR   CLR
2020-03-07 23:51:00     JCT   CLR
2020-07-02 06:05:00     BRO   CLR
2020-02-08 01:35:00     GDJ   CLR
2020-12-01 19:35:00     F05   CLR
2020-04-04 20:00:00     ARM   OVC
2020-11-16 09:35:00     ELA   CLR
2020-09-24 05:00:00     GTU   OVC
2020-09-16 13:40:00     BGD   CLR
2020-11-28 22:15:00     6P9   OVC
2020-04-09 20:55:00     5C1   CLR
2020-09-24 12:05:00     PIL   NaN
2020-02-03 18:55:00     BGD   OVC
2020-03-09 23:55:00     T74   CLR
2020-08-22 13:15:00     CXO   CLR
2020-01-07 10:30:00     GTU   CLR
2020-02-24 03:10:00     BGD   BKN
2020-07-07 23:25:00     BMQ   CLR
2020-06-09 01:53:00     HOU   FEW
2020-04-16 12:45:00     TYR   CLR
2020-01-26 10:15:00     LBX   OVC

In [9]:
match_timestamp = "00:00:00"
df.loc[df.index.strftime("%H:%M:%S") == match_timestamp]

NameError: name 'df' is not defined

In [10]:
stations = (data1['station'].unique())

for i in stations:
    i = str(i)

print(type(stations))
stations.shape
stations

<class 'numpy.ndarray'>

array(['FST', 'GGG', 'GLS', 'BGD', 'DFW', 'DHT', 'GKY', 'LBB', 'LFK',
       'ALI', 'AMA', 'CDS', 'DAL', 'DRT', 'FTW', 'JCT', 'LRD', 'MWL',
       'SPS', 'BPT', 'MRF', 'PSX', 'HOU', 'MAF', 'COT', 'CLL', 'HDO',
       'IAH', 'RBD', 'CRS', 'TKI', 'LVJ', 'AFW', 'BAZ', 'BMQ', 'CXO',
       'DTO', 'DWH', 'GTU', 'LBX', 'MFE', 'PRX', 'RKP', 'SGR', 'SSF',
       'ODO', 'BRO', 'INK', 'ABI', 'ELP', 'HRL', 'PWG', 'TYR', 'UTS',
       'VCT', 'TRL', 'ACT', 'OCH', 'TPL', 'ILE', 'SJT', 'HYI', 'SAT',
       'CRP', 'AUS', 'GZN', 'MKN', 'DZB', 'PIL', 'HBV', 'GVT', 'LNC',
       'GDJ', 'PPA', 'ADS', 'AQO', 'ARM', 'CPT', 'DUX', 'F05', 'OSA',
       'PYX', 'RYW', 'HQI', 'BBF', 'MZG', 'BQX', 'VAF', 'HHV', 'ERV',
       'GPM', 'GYI', 'BKS', 'FWS', 'GLE', 'SWW', 'BPG', 'JSO', 'LHB',
       'BYY', 'EBG', 'HQZ', 'INJ', 'JWY', 'LUD', 'SNK', 'PSN', 'RBO',
       'COM', 'XBP', 'PEQ', 'GNC', 'GYB', 'JXI', 'JDD', 'PKV', 'SLR',
       'RAS', 'ORG', 'BBD', 'HRX', 'PEZ', 'TFP', 'CWC', 'MNZ', 'ECU',
       'MDD', 'BKD', 'CVB', 'MCJ', '0F2', 'OZA', '5C1', 'FTN', 'EDC',
       'ASL', 'TME', 'RFI', 'PVW', 'HHF', '11R', 'E38', 'GOP', 'JAS',
       'SEP', 'SOA', 'T82', 'APY', 'BPC', 'BWD', 'RWV', '3T5', 'UVA',
       'AXH', '6R3', 'BMT', 'VKY', 'EMK', 'T35', 'E11', 'F44', 'F46',
       'CFD', 'T20', 'PRS', 'LXY', 'CZT', '66R', 'F17', 'ELA', '5T9',
       'F00', 'IKG', '6P9', 'ETN', 'TXW', 'LUV', '2R9', '4F2', 'T74',
       'GYF', 'RPH', 'GRK', 'EFD', 'GDP', 'ATT', 'NFW', '6R6', 'NOG',
       'RND', 'SKF', 'NGP', 'NQI', 'HLR', 'BIF', 'SEQ', 'CNW', 'DYS',
       'DLF', 'T70', 'DKR', 'GUL', 'BEA', 'LZZ', 'E41', 'VHN', 'T69',
       '81R'], dtype=object)

In [11]:
stations2 = stations.copy()

In [12]:
filt1 = data1['station']=='FST'
data1[filt1]
# data1.head()

        station             valid skyc1
0           FST  2020-01-01 00:00   SCT
68          FST  2020-01-01 00:05   FEW
135         FST  2020-01-01 00:10   SCT
204         FST  2020-01-01 00:15   SCT
378         FST  2020-01-01 00:20   SCT
...         ...               ...   ...
9671250     FST  2020-12-30 23:40   VV
9671315     FST  2020-12-30 23:45   OVC
9671383     FST  2020-12-30 23:50   OVC
9671461     FST  2020-12-30 23:53   OVC
9671616     FST  2020-12-30 23:55   OVC

[99337 rows x 3 columns]

In [13]:
def stations_var(df, lst):
    filt_lst = []
    for i in lst:
        i_station = data1['station']== i
        i_df = data1[i_station]
        filt_lst.append(i_df)
#         filt_lst.append(i_station)
    return filt_lst

In [14]:
stations2 =stations_var(data1, stations)

In [43]:
data_jan.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,DAPR,DAPR_ATTRIBUTES,...,WT06,WT06_ATTRIBUTES,WT07,WT07_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT11,WT11_ATTRIBUTES
0,USW00003951,"LONGVIEW 11 SE, TX US",32.3466,-94.6533,124.1,2020-01-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00003951,"LONGVIEW 11 SE, TX US",32.3466,-94.6533,124.1,2020-01-02,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00003951,"LONGVIEW 11 SE, TX US",32.3466,-94.6533,124.1,2020-01-03,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00003951,"LONGVIEW 11 SE, TX US",32.3466,-94.6533,124.1,2020-01-04,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00003951,"LONGVIEW 11 SE, TX US",32.3466,-94.6533,124.1,2020-01-05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
FST, GGG, GLS, BGD, DFW, DHT, GKY, LBB, LFK,
ALI, AMA, CDS, DAL, DRT, FTW, JCT, LRD, MWL,
SPS, BPT, MRF, PSX, HOU, MAF, COT, CLL, HDO,
IAH, RBD, CRS, TKI, LVJ, AFW, BAZ, BMQ, CXO,
DTO, DWH, GTU, LBX, MFE, PRX, RKP, SGR, SSF,
ODO, BRO, INK, ABI, ELP, HRL, PWG, TYR, UTS,
VCT, TRL, ACT, OCH, TPL, ILE, SJT, HYI, SAT,
CRP, AUS, GZN, MKN, DZB, PIL, HBV, GVT, LNC,
GDJ, PPA, ADS, AQO, ARM, CPT, DUX, F05, OSA,
PYX, RYW, HQI, BBF, MZG, BQX, VAF, HHV, ERV,
GPM, GYI, BKS, FWS, GLE, SWW, BPG, JSO, LHB,
BYY, EBG, HQZ, INJ, JWY, LUD, SNK, PSN, RBO,
COM, XBP, PEQ, GNC, GYB, JXI, JDD, PKV, SLR,
RAS, ORG, BBD, HRX, PEZ, TFP, CWC, MNZ, ECU,
MDD, BKD, CVB, MCJ, OF2, OZA, FC1, FTN, EDC,
ASL, TME, RFI, PVW, HHF, OOR, E38, GOP, JAS,
SEP, SOA, T82, APY, BPC, BWD, RWV, TT5, UVA,
AXH, SR3, BMT, VKY, EMK, T35, E11, F44, F46,
CFD, T20, PRS, LXY, CZT, SSR, F17, ELA, FT9,
F00, IKG, SP9, ETN, TXW, LUV, TR9, FF2, T74,
GYF, RPH, GRK, EFD, GDP, ATT, NFW, SR6, NOG,
RND, SKF, NGP, NQI, HLR, BIF, SEQ, CNW, DYS,
DLF, T70, DKR, GUL, BEA, LZZ, E41, VHN, T69,
E1R = stations2

NameError: name 'FST' is not defined